extends layout

block content
  div(class="flex px-3")
      div(class="max-w-7xl mx-auto my-auto py-8 sm:py-16 sm:px-6 lg:px-8")
        h1(class="text-3xl font-bold text-gray-900 mb-4")
          = message
        div(class="text-gray-500")
          h2(class="text-xl font-semibold mb-4")
            = error.status
          pre(class="whitespace-pre-wrap text-[10px] sm:text-base")
            = error.stack
  if message === "Not Found"
    div(class="flex items-center justify-center py-4 sm:py-8 md:py-12 px-3")
      div(class="max-w-md w-full space-y-8")
        div(class="text-center")
          h1(class="mt-6 text-center text-3xl font-extrabold text-gray-900")
            | Oops!
          h2(class="mt-2 text-center text-xl text-gray-600")
            | We couldn't find the page you're looking for.
        div(class="mt-8")
          a(href="/" class="text-base font-medium text-indigo-600 hover:text-indigo-500")
            | Go back home
